.mathlab.user-info .ui.table tr td {
  border-top: 0;
}

.mathlab.user-info .ui.basic.table tbody tr {
  border-bottom: 0;
  box-shadow: none !important;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
