#root {
  height: 100%;
  min-height: 100%;
}

#root > .pushable > .sidebar {
  overflow: auto;
}

#root > .pushable > .pusher {
  height: 100%;
  overflow: auto;
}

@media (min-width: 768px) {
  #root > .pushable > .sidebar {
    visibility: visible;
    transform: translate3d(0%, 0%, 0);
    box-shadow: 0px 0px 20px rgba(34, 36, 38, 0.15);
  }

  #root > .pushable > .sidebar + .pusher {
    margin-left: 220px;
  }

  #root > .pushable > .sidebar.visible + .pusher {
    transform: none;
  }
}
